body{
    font-family: 'MuseoModerno', cursive;
    background-color: rgb(59, 57, 57);
}

.tiempo{
    font-size: 4em;
}

.tiempo p{
    width: 25%;
}

.etiquetas{
    color: rgba(245, 245, 245, 0.37);
    font-size: 1.5em;
}

.setTime{
    border-radius: 50%;
}